<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.micronaut.http.client" level="debug"/>
    <logger name="org.eclipse.jetty.http" level="debug"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
